<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/mainpage">Logout</a>
    </div>
  </div>

  <h1>&nbsp;<b><u>Control Statements & Loops</u></b></h1>
  <img  class="con_stmt" src="\assets\images\control_stmts.png" />
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>><br><br><br><br><br><br><br><br><br><br> -->
  <h2><b>If ... Else</b></h2>
  <h2><b>Conditions and If Statements</b></h2>
  <ul>
      <li>Less than: a < b</li>
      <li>Less than or equal to: a <= b</li>
      <li>Greater than: a > b</li>
      <li>Greater than or equal to: a >= b</li>
      <li>Equal to a == b</li>
      <li>Not Equal to: a != b</li>
  </ul>
  <p>C has the following conditional statements:</p>
  <ul>
    <li>Use if to specify a block of code to be executed, if a specified condition is true</li>
    <li>Use else to specify a block of code to be executed, if the same condition is false</li>
    <li>Use else if to specify a new condition to test, if the first condition is false</li>
    <li>Use switch to specify many alternative blocks of code to be executed</li>
  </ul>
  <h2><b>The If Statement</b></h2>
  <p>Use the if statement to specify a block of C code to be executed if a condition is true.</p>
  <img class="c_if" src="\assets\images\if_c.png"/>
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  <h2>The else Statement</h2>
<p>Use the else statement to specify a block of code to be executed if the condition is false.</p>
<img class="if_else" src="\assets\images\if_else.png"/>
<h2>The else if Statement</h2>
<p>Use the else if statement to specify a new condition if the first condition is false.</p>
<h2>Switch Statement</h2>
<p>Instead of writing many if..else statements, you can use the switch statement.</p>
<p>The switch statement selects one of many code blocks to be executed:</p>
<img class="switch" src="\assets\images\switch.png"/>
<h2>Loops</h2>
<p>Loops can execute a block of code as long as a specified condition is reached.</p>
<p>Loops are handy because they save time, reduce errors, and they make code more readable.</p>
<h2>While Loop</h2>
<p>The while loop loops through a block of code as long as a specified condition is true:</p>
<img class="while" src="\assets\images\while_c.png"/>
<h2>The Do/While Loop</h2>
<p>The do/while loop is a variant of the while loop. This loop will execute the code block once, before checking if the condition is true, then it will repeat the loop as long as the condition is true.</p>
<img class="dowhile" src="\assets\images\dowhile_c.png"/>
<h2>For Loop</h2>
<p>When you know exactly how many times you want to loop through a block of code, use the for loop instead of a while loop:</p>
<img class="for" src="\assets\images\for_c.png"/>
<h2>Break and Continue</h2>
<h2>Break</h2>
<p>It was used to "jump out" of a switch statement.</p>
<p>The break statement can also be used to jump out of a loop.</p>
<img class="break" src="\assets\images\break.png"/>
<h2>Continue</h2>
<p>The continue statement breaks one iteration (in the loop), if a specified condition occurs, and continues with the next iteration in the loop.</p>
<img class="continue" src="\assets\images\continue.png"/>
