<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/login">Logout</a>
    </div>
  </div>
<form #disForm="ngForm" (ngSubmit)="addDis(disForm.value)">
  &nbsp;&nbsp;<label><b>Comments:</b></label><br>
  <!-- <input type="text" ngModel name="comment" #comment=ngModel placeholder="Add your Comment here" class="form-control"> -->
  &nbsp;&nbsp;<textarea ngModel name="comment" #comment=ngModel placeholder="Add your Comment here" class="form-control" required minlength="10"></textarea><br>
  &nbsp;&nbsp;&nbsp;<button type="submit" class="btn" >Add</button><br>
</form>
<br>
&nbsp;&nbsp;<button (click)="showDis()" class="btn">Show Comments</button>
<br><br>
<div *ngFor="let com of all_discussions">
  &nbsp;&nbsp;<b>{{com.email}}</b>
  &nbsp;&nbsp;<div class="container">
    &nbsp;&nbsp; {{com.comment}} 
  </div>
</div>
