<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/mainpage">Logout</a>
    </div>
  </div>
  <h2>&nbsp;<u>History of Python</u></h2>
<p>&nbsp;Python was developed in the early 1990’s by Guido van Rossum, then
    at CWI in Amsterdam, and currently at CNRI in <br>&nbsp;Virginia.In some ways,
    python grew out of a project to design a computer language which would be
    easy for beginners to <br>&nbsp;learn, yet would be powerful enough for even advanced
    users. This heritage is reflected in python’s small, clean syntax and <br>&nbsp;the thoroughness of the implementation of ideas like object-oriented programming,
    without eliminating the ability to <br> &nbsp;program in a more traditional style.So
    python is an excellent choice as a first programming language without sacrificing the <br>&nbsp;power and advanced capabilities that users will eventually need.
    Although pictures of snakes often appear on python books <br>&nbsp;and websites,
    the name is derived from Guido van Rossum’s favorite TV show, “Monty
    Python’s Flying Circus”. For this <br>&nbsp;reason, lots of online and print documentation for the language has a light and humorous touch. </p>
    <img  class="image5" src="\assets\images\van.jpg" style = "width:250px"/>
    <h2>&nbsp;<u>Data Types</u></h2>
    <img  class="image6" src="\assets\images\python_data_types.jpg" style = "width:600px"/>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>&nbsp;<u>Variables</u></h2>
    <p>Variable is a name that is used to refer to memory location. Python variable is also known as an identifier and used to hold value.In Python, we don't need to specify the type of variable because Python is a infer language and smart enough to get variable type.Variable names can be a group of both the letters and digits, but they have to begin with a letter or an underscore.
    It is recommended to use lowercase letters for the variable name.</p>
    <h3>Declaring and assigning variables</h3>
    <p>Python allows us to create a variable at the required time.
    <br>The equal (=) operator is used to assign value to a variable.
    <br><b>type()</b> is an inbuilt function that helps you find the class type of the variable.
    </p>
    <img  class="image8" src="\assets\images\typecode.jpg" style = "width:500px"/>
    <img  class="image9" src="\assets\images\typeans.jpg" style = "width:500px"/>
    <br><br><br><br><br><br><br><br>
    <h2>&nbsp;<u>Operators</u></h2>
    <p>The operator can be defined as a symbol which is responsible for a particular operation between two operands. Python provides a variety of operators, which are described as follows.</p>
    <ul>
        <li>Arithmetic operators</li>
        <li>Comparision operators</li>
        <li>Assignment operators</li>
        <li>Logical operators</li>
        <li>Bitwise operators</li>
    </ul>
    <h3>Arithmetic operators</h3>
    <img  class="image7" src="\assets\images\image.png" style = "width:400px"/>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <h3>Comparison operators</h3>
    <img  class="image10" src="\assets\images\comparison.jpg" style = "width:400px"/>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <h3>Assignment operators</h3>
    <img  class="image11" src="\assets\images\assignment.jpg" style = "width:600px"/>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <h3>Logical operators</h3>
    <img  class="image12" src="\assets\images\logical.jpg" style = "width:600px"/>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <h3>Bitwise Operators</h3>
    <img class="image14" src="\assets\images\bitwise.jpg" style="width:600px">
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <h2>&nbsp;<u>Comments</u></h2>
    <p>A comment in Python starts with the hash character, #, and extends to the end of the physical line.</p>
    <h3>Single Line Comments</h3>
    <p>Such a comment starts with a hash character (#), and is followed by text that contains further explanations.</p>
    <h3>Multi Line Comments</h3>
    <p>Python does not really have a syntax for multi line comments,you can use a multiline string.</p>
