<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/login">Logout</a>
    </div>
  </div>

  
  <h1>&nbsp;<b><u>Loops - while, for and do while loop</u></b></h1>
  <h2>&nbsp;<b><u>While Loop</u></b></h2>
  <p>&emsp;The while loop loops through a block of code as long as a specified condition is true:</p>
  <br><br><br><br><br><br><br><br><br><br>
  <img  class="while" src="\assets\images\while.png" style = "width:200px"/>
  <h2>&nbsp;<b><u>The Do/While Loop</u></b></h2>
  <p>&emsp;The do/while loop is a variant of the while loop. This loop will execute the code block once,</p>
  <p>&emsp;before checking if the condition is true, then it will repeat the loop as long as the condition is true.</p>
  <img  class="dowhile" src="\assets\images\dowhile.png" style = "width:200px"/>
  <h2>&nbsp;<b><u>For Loop</u></b></h2>
  <p>&emsp;When you know exactly how many times you want to loop through a block of code, use the for loop instead </p>
  <p>&emsp;of a while loop:</p>
  <h2>&nbsp;<b><u>Conditions and If Statements</u></b></h2>
  <ul>
      <li>Less than: a < b</li>
      <li>Less than or equal to: a <= b</li>
      <li>Greater than: a > b</li>
      <li>Greater than or equal to: a >= b</li>
      <li>Equal to a == b</li>
      <li>Not Equal to: a != b</li>
  </ul>
  <p>&emsp;Use if to specify a block of code to be executed, if a specified condition is true</p>
  <p>&emsp;Use else to specify a block of code to be executed, if the same condition is false</p>
  <p>&emsp;Use else if to specify a new condition to test, if the first condition is false</p>
  <p>&emsp;Use switch to specify many alternative blocks of code to be executed</p>
  <h2>&nbsp;<b><u>if Statement</u></b></h2>
  <p>&emsp;Use the if statement to specify a block of C++ code to be executed if a condition is true.</p>
  <p style="font-size:5mm">&emsp;syntax:</p>
  <img  class="if" src="\assets\images\if.png" />
  <br><br><br>
  <h2>&nbsp;<b><u>else Statement</u></b></h2>
  <p>&emsp;Use the else statement to specify a block of code to be executed if the condition is false.</p>
  <p>&emsp;syntax:</p>
  <img  class="else" src="\assets\images\else.png" />
  <br><br><br><br><br>
  <h2>&nbsp;<b><u>else if Statement</u></b></h2>
  <p>&emsp;Use the else if statement to specify a new condition if the first condition is false.</p>
  <p>&emsp;syntax:</p>
  <img  class="elseif" src="\assets\images\elseif.png" />
  <br><br><br><br><br>
  <h2>&nbsp;<b><u>functions</u></b></h2>
  <p>&emsp;A function is an independent section of code that is capable of performing a certain task.</p>
  <p>&emsp;Call a Function</p>
  <p>&emsp;Declared functions are not executed immediately.</p>
  <p>&emsp;They are "saved for later use", and will be executed later, when they are called.</p>
  <p>&emsp;To call a function, write the function's name followed by two parentheses () and a semicolon ;</p>
  <h3>&nbsp;<b><u>Function Declaration and Definition</u></b></h3>
  <p>&emsp;A C++ function consist of two parts:</p>
  <p>&emsp;Declaration: the return type, the name of the function, and parameters (if any)</p>
  <p>&emsp;Definition: the body of the function (code to be executed)</p>
  <img  class="func1" src="\assets\images\func1.png" />
  <img  class="func2" src="\assets\images\func2.png" />
  <img  class="func3" src="\assets\images\func3.png" />
  <img  class="func4" src="\assets\images\func4.png" />




  
  <!--<ol>
    <h2><li><a routerLink = "/homepage">Introduction</a></li></h2>
    <h2><li><a routerLink = "/homepage">Conditional Statements, Loops & Functions</a></li></h2>
    <h2><li><a routerLink = "/homepage">More Topics</a></li></h2>
</ol>-->
<br>
