<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <!-- <a routerLink="/profile">Profile</a> -->
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
    <a routerLink="/mainpage" style="right:0">Logout</a>
  </div>
  </div>
  <div class="parent">
      <img  class="image1" src="assets\images\wp2.jpg"/>
      <div class = "container">
  
      
      <a routerLink ="/mcq"><img class="image2" src="assets\images\aptitude.jpg" style="width:250px"/></a>
      <div class="aptitude">Aptitude</div>
      </div>
      <div class = "container">
      <a routerLink ="/coding"><img class = "image3" src="assets\images\coding_qa.jpg" style="width:250px"/></a>
      <!-- <div class="prog-pos">Programming Q/A</div> -->
      </div>
      <div class="container">
      <a routerLink ="/quiz"><img class = "image4" src="assets\images\quiz.jpg" style="width:250px"/></a>
      </div>
      <div class="container">
        <a routerLink ="/discuss"><img class = "image5" src="assets\images\discuss.jpg"/></a>
        </div>
      </div>
    