<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->


<div class="navbar">
  <a routerLink="/login">Home</a>
  <!-- <a routerLink="/profile">Profile</a> -->
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
    </div>
  </div> 
  <div class='logout'>
  <a routerLink="/mainpage">Logout</a>
</div>
  
</div>
<div class="parent">
    <img  class="image1" src="assets\images\homepage.png"/>
    <img class="logo" src="assets\images\logo2.jpg"/>
    <div class = "container">

    
    <a routerLink ="/programLang"><img class="image2" src="assets\images\prog_h.jpg" style="width:250px"/></a>
    <!-- <div class="p_lang-pos">Programming</div> -->
    </div>
    <div class = "container">
    <a routerLink ="/interview"><img class = "image3" src="assets\images\intv.jpg" style="width:250px"/></a>
    <!-- 
      <div class="intv-pos">Interview Q/A</div> -->
    </div>
    </div>
  