
<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/mainpage">Logout</a>
    </div>
  </div>
  <br><br>
  <body class = "body">
  <p><b>Question 1 &nbsp;&nbsp;:&nbsp;</b> <a href = "coding/#navigateto1">Check if the two strings are ANAGRAMS are not.</a></p><br>
  <p><b>Question 2 &nbsp;&nbsp;:&nbsp;</b> <a href = "coding/#navigateto2">Find the count for the occurence of a particular character in a string</a></p><br>
  <p><b>Question 3 &nbsp;&nbsp;:&nbsp;</b> <a href = "coding/#navigateto3">How to compute the first character of a string that is not repeated?</a></p><br>
  <p><b>Question 4 &nbsp;&nbsp;:&nbsp;</b> <a href = "coding/#navigateto4">Find the second largest element of an given array.</a></p><br>
  <p><b>Question 5 &nbsp;&nbsp;:&nbsp;</b> <a href = "coding/#navigateto5">How to perform swapping two strings by not using a third variable?</a></p><br>
  <p><b>Question 6 &nbsp;&nbsp;:&nbsp;</b> <a href = "coding/#navigateto6">How to traverse to the middle of a given linked list</a></p><br>
  <p><b>Question 7 &nbsp;&nbsp;:&nbsp;</b> <a href = "coding/#navigateto7">Given a number N , find the fibonocci sequence containing N numbers</a></p><br>
  <p><b>Question 8 &nbsp;&nbsp;:&nbsp;</b> <a href = "coding/#navigateto8">Given a string S, find the longest palindromic substring in S.</a></p><br>
  <p><b>Question 9 &nbsp;&nbsp;:&nbsp;</b> <a href = "coding/#navigateto9">Given a array of N strings, find the longest common prefix among all strings present in the array.</a></p><br>
  <p><b>Question 10 :&nbsp;</b> <a href = "coding/#navigateto10">Write a program to  reverse an array or string</a></p><br>
  <br><br><br><br>
    <div id="navigateto1">
        <b><span style = "color : green">Solution 1 : </span></b>
        <ul class="tab-wrap">
            <li>
                <input type="radio" id="tab-1" name="tab" checked>
                <label for="tab-1">C</label>
                <div class="tab-content">
                    <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\cana.png" />
                    </div>
                    </div>
                </div>
            </li>
            <li>
                <input type="radio" id="tab-2" name="tab">
                <label for="tab-2">C++</label>
                <div class="tab-content">
                    <div class = "panel">
                        <div class=  "image-container">
                            <img  class="img1" src="\assets\images\cppana.png" />
                        </div>
                        </div>
                </div>
            </li>
            <li>
                <input type="radio" id="tab-3" name="tab">
                <label for="tab-3">Python</label>
                <div class="tab-content">
                    <div class = "panel">
                        <div class=  "image-container">
                            <img  class="img1" src="\assets\images\pyana.jpg" />
                        </div>
                        </div>
                </div>
            </li>
        </ul> 
        <a  href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div id="navigateto2">
        <br><b><span style = "color : green">Solution 2 : </span></b>
        <ul class="tab-wrap">
            <li>
                <input type="radio" id="tab-4" name="tab" checked>
                <label for="tab-4">C</label>
                <div class="tab-content">
                    <div class = "panel">
                        <div class=  "image-container">
                            <img  class="img1" src="\assets\images\cocc.png" />
                        </div>
                        </div>
                </div>
            </li>
            <li>
                <input type="radio" id="tab-5" name="tab">
                <label for="tab-5">C++</label>
                <div class="tab-content">
                    <div class = "panel">
                        <div class=  "image-container">
                            <img  class="img1" src="\assets\images\cppocc.png" />
                        </div>
                        </div>
                    </div>
            </li>
            <li>
                <input type="radio" id="tab-6" name="tab">
                <label for="tab-6">Python</label>
                <div class="tab-content">
                    <div class = "panel">
                        <div class=  "image-container">
                            <img  class="img1" src="\assets\images\occpy.jpg" />
                        </div>
                        </div>
                </div>

            </li>
        </ul>
        <a href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div id="navigateto3">
    <br><b><span style = "color : green">Solution 3 : </span></b>

        <ul class="tab-wrap">
            <li>
                <input type="radio" id="tab-7" name="tab" checked>
                <label for="tab-7">C</label>
                <div class="tab-content">
                    <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\3_c.png" />
                    </div>
                    </div>
                </div>
            </li>
            <li>
                <input type="radio" id="tab-8" name="tab">
                <label for="tab-8">C++</label>
                <div class="tab-content">
                    <div class = "panel">
                        <div class=  "image-container">
                            <img  class="img1" src="\assets\images\3_cpp.png" />
                        </div>
                        </div>
                </div>
            </li>
            <li>
                <input type="radio" id="tab-9" name="tab">
                <label for="tab-9">Python</label>
                <div class="tab-content">
                    <div class = "panel">
                        <div class=  "image-container">
                            <img  class="img1" src="\assets\images\3_py.jpg" />
                        </div>
                        </div>
                </div>

            </li>
        </ul>
        <a href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="navigateto4">
<br><b><span style = "color : green">Solution 4 : </span></b>

    <ul class="tab-wrap">
        <li>
            <input type="radio" id="tab-10" name="tab" checked>
            <label for="tab-10">C</label>
            <div class="tab-content">
                <div class = "panel">
                <div class=  "image-container">
                    <img  class="img1" src="\assets\images\4_c.jpg" />
                </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-11" name="tab">
            <label for="tab-11">C++</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\4_cpp.jpg" />
                    </div>
                    </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-12" name="tab">
            <label for="tab-12">Python</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\4_py.jpg" />
                    </div>
                    </div>
            </div>

        </li>
    </ul>
    <a  href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="navigateto5">
<br><b><span style = "color : green">Solution 5 : </span></b>

    <ul class="tab-wrap">
        <li>
            <input type="radio" id="tab-13" name="tab" checked>
            <label for="tab-13">C</label>
            <div class="tab-content">
                <div class = "panel">
                <div class=  "image-container">
                    <img  class="img1" src="\assets\images\5_c.jpg" />
                </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-14" name="tab">
            <label for="tab-14">C++</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\5_cpp.jpg" />
                    </div>
                    </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-15" name="tab">
            <label for="tab-15">Python</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\5_py.jpg" />
                    </div>
                    </div>
            </div>

        </li>
    </ul>
    <a  href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="navigateto6">
<br><b><span style = "color : green">Solution 6 : </span></b>

    <ul class="tab-wrap">
        <li>
            <input type="radio" id="tab-16" name="tab" checked>
            <label for="tab-16">C</label>
            <div class="tab-content">
                <div class = "panel">
                <div class=  "image-container">
                    <img  class="img1" src="\assets\images\6_c.png" />
                </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-17" name="tab">
            <label for="tab-17">C++</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\6_cpp.png" />
                    </div>
                    </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-18" name="tab">
            <label for="tab-18">Python</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\6_py.jpg" />
                    </div>
                    </div>
            </div>

        </li>
    </ul>
    <a  href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="navigateto7">
<br><b><span style = "color : green">   Solution 7 : </span></b>

    <ul class="tab-wrap">
        <li>
            <input type="radio" id="tab-19" name="tab" checked>
            <label for="tab-19">C</label>
            <div class="tab-content">
                <div class = "panel">
                <div class=  "image-container">
                    <img  class="img1" src="\assets\images\7_c.jpg" />
                </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-20" name="tab">
            <label for="tab-20">C++</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\7_cpp.jpg" />
                    </div>
                    </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-21" name="tab">
            <label for="tab-21">Python</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\7_py.jpg" />
                    </div>
                    </div>
            </div>
        </li>
    </ul>
    <a href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="navigateto8">
<br><b><span style = "color : green">   Solution 8 : </span></b>

    <ul class="tab-wrap">
        <li>
            <input type="radio" id="tab-22" name="tab" checked>
            <label for="tab-22">C</label>
            <div class="tab-content">
                <div class = "panel">
                <div class=  "image-container">
                    <img  class="img1" src="\assets\images\8_c.png" />
                </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-23" name="tab">
            <label for="tab-23">C++</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\8_cpp.png" />
                    </div>
                    </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-24" name="tab">
            <label for="tab-24">Python</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\8_py.jpg" />
                    </div>
                    </div>
            </div>
        </li>
    </ul>
    <a href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="navigateto9">
    <br><b><span style = "color : green">   Solution 9 : </span></b>
    <ul class="tab-wrap">
        <li>
            <input type="radio" id="tab-25" name="tab">
            <label for="tab-25">C++</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\9_cpp.jpg" />
                    </div>
                    </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-26" name="tab">
            <label for="tab-26">Python</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\9_py.jpg" />
                    </div>
                    </div>
            </div>
        </li>
    </ul>
    <a  href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="navigateto10">
<br><b><span style = "color : green">   Solution 10 : </span></b>
    <ul class="tab-wrap">
        <li>
            <input type="radio" id="tab-27" name="tab">
            <label for="tab-27">C</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\10_c.jpg" />
                    </div>
                    </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-28" name="tab">
            <label for="tab-28">C++</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\10_cpp.jpg" />
                    </div>
                    </div>
            </div>
        </li>
        <li>
            <input type="radio" id="tab-29" name="tab">
            <label for="tab-29">Python</label>
            <div class="tab-content">
                <div class = "panel">
                    <div class=  "image-container">
                        <img  class="img1" src="\assets\images\10_py.jpg" />
                    </div>
                    </div>
            </div>
        </li>
    </ul>
    <a  href = "coding/#top"><img class="image" src="\assets\images\upward-arrow.jpg" style="width:45px"/></a>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
