body,html{
    height : 100%;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    width: 1150px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow:hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 140, 255);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logout{
    float:right;
    background-color: rgb(170, 12, 12);
  }
  .img1{
    position:relative;
    /* top:250px; */
    padding-left : 50px;
  }
  .img2{
    position:relative;
    /* top:350px; */
    padding-left: 50px;
  }
  .img3{
    position:relative;
    /* top:550px; */
    padding-left: 50px;
  }
  .img4{
    position:relative;
    /* top:650px; */
    padding-left: 50px;
  }
  .img5{
    position:relative;
    /* top:850px; */
    padding-left: 50px;
  }
  .img6{
    position:relative;
    /* top:1400px; */
    padding-left: 50px;
  }
  .img7{
    position:absolute;
    top:1475px;
    padding-left: 50px;
  }
  .img8{
    position:relative;
    /* top:1830px; */
    padding-left: 50px;
  }
  .img9{
    position:relative;
    /* top:1975px; */
    padding-left: 50px;
  }
  .img10{
    position:relative;
    /* top:2230px; */
    padding-left: 50px;
  }
  .img11{
    position:relative;
    /* top:2400px; */
    padding-left: 50px;
  }
  .img12{
    position:relative;
    /* top:2600px; */
    padding-left: 50px;
  }
  .img13{
    position:relative;
    /* top:3290px; */
    padding-left: 50px;
  }
  .img14{
    position:relative;
    /* top:3400px; */
    padding-left: 50px;
  }
  .img15{
    position:relative;
    /* top:4150px; */
    padding-left: 50px;
  }
  .img16{
    position:relative;
    /* top:4300px; */
    padding-left: 50px;
  }
  .img17{
    position:relative;
    /* top:4400px; */
    padding-left: 50px;
  }
  .img18{
    position:relative;
    /* top:4700px; */
    padding-left: 50px;
  }
