<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aptitude</title>

</head>
<body>
    <div class="navbar">
        <a routerLink="/homepage">Dashboard</a>
        <!-- <a routerLink="/profile">Profile</a> -->
        <div class="dropdown">
          <button class="dropbtn">Courses 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
          </div>
        </div> 
        <div class='logout'>
        <a routerLink="/login">Logout</a>
      </div>
        
      </div>

    <div class="wrappper">
        <h1 >Aptitude</h1>
        <button routerLink="/mcq1" class="btn btn-info btn-lg" style="float:right">Next</button>
        <ul class="tab-wrap">
            <li>
                <input type="radio" id="tab-1" name="tab" checked>
                <label for="tab-1">Question-1</label>
                <div class="tab-content">
                    <h2>Question-1</h2>
                    <p>I was born on August 11. Mohan is younger to me by 11 days. This year Independence Day falls on
                        Monday. The day on which Mohan's birthday will fall this year will be
                    </p>
                    <p><b>1.</b>Monday</p>
                    <p><b>2.</b>Tuesday</p>
                    <p><b>3.</b>Sunday</p>
                    <p><b>4.</b>Thursday</p>
                    <button class="btn btn-info btn-lg" onclick="getElementById('demo20').innerHTML='Option 3'">View Answer</button>
                    <p id="demo20"></p>
                </div>
            </li>
            <li>
                <input type="radio" id="tab-2" name="tab">
                <label for="tab-2">Question-2</label>
                <div class="tab-content">
                    <h2>Question-2</h2>
                    <p>The flowers in a basket become double after every minute. In one hour, the basket becomes full. After
                        how many minutes, the basket would be half-filled?
                    </p>
                    <p><b>1.</b>30</p>
                    <p><b>2.</b>45</p>
                    <p><b>3.</b>59</p>
                    <p><b>4.</b>58</p>
                    <button class="btn btn-info btn-lg" onclick="getElementById('demo21').innerHTML='Option 3'">View Answer</button>
                    <p id="demo21"></p>
                </div>
            </li>
            <li>
                <input type="radio" id="tab-3" name="tab">
                <label for="tab-3">Question-3</label>
                <div class="tab-content">
                    <h2>Question-3</h2>
                    <p>Which of the following will come in place of the question mark (?) in the following letter series?
                        BXF, DVI, FTL, HRO,?
                    </p>
                        <p><b>1.</b>JPL</p>
                        <p><b>2.</b>KPL</p>
                        <p><b>3.</b>JOL</p>
                        <p><b>4.</b>None of these</p>
                        <button class="btn btn-info btn-lg" onclick="getElementById('demo22').innerHTML='Option 4'">View Answer</button>
                    <p id="demo22"></p>
                </div>

            </li>
            <li>
                <input type="radio" id="tab-4" name="tab">
                <label for="tab-4">Question-4</label>
                <div class="tab-content">
                    <h2>Question-4</h2>
                    <p>If '+' means '*', '-' means '/' , '/' means '+' and '*' means '-' , then what will the value of 20/ 40 ? 4 * 5 +6?
                    </p>
                        <p><b>1.</b>60</p>
                        <p><b>2.</b>1.67</p>
                        <p><b>3.</b>150</p>
                        <p><b>4.</b>0</p>
                        <button class="btn btn-info btn-lg" onclick="getElementById('demo23').innerHTML='Option 4'">View Answer</button>
                    <p id="demo23"></p>
                </div>

            </li>
            <li>
                <input type="radio" id="tab-5" name="tab">
                <label for="tab-5">Question-5</label>
                <div class="tab-content">
                    <h2>Question-5</h2>
                    <p>'Win' is related to 'Competition' in the same way as 'Invention' is related to?
                    </p>
                        <p><b>1.</b>Discovery</p>
                        <p><b>2.</b>Experiment</p>
                        <p><b>3.</b>Trial</p>
                        <p><b>4.</b>Laboratory</p>
                        <button class="btn btn-info btn-lg" onclick="getElementById('demo24').innerHTML='Option 2'">View Answer</button>
                    <p id="demo24"></p>
                </div>

            </li>


        </ul>
    </div>
    </body>
    </html>
