body , html {
    height : 100%;
  }
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow:hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 140, 255);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logout{
    float:right;
    background-color: rgb(170, 12, 12);
  }
 
  .Image1 {
      position:relative;
      /* top : 330px;
      left: 200px; */

  }

  .Image2 {
    position:relative;
    /* top : 650px;*/
    left: 200px; 
  }
  
  .Image3 {
    position:relative;
    /* top : 1210px;*/
    left: 200px; 
  }
  .Image4 {
    position:relative;
    /* top : 1250px;
    left: 700px; */
  }
  
  .Image5 {
    position:relative;
    /* top : 1760px;
    left: 400px; */
  }
  .Image6 {
    position:relative;
    /* top : 1920px;*/
    left: 200px; 
  }
  .Image7 {
    position:relative;
    /* top : 1920px;*/
    left: 200px; 
  }
  .Image9 {
    position:relative;
    /* top : 3760px;*/
    left: 100px; 
  }
  .Image10 {
    position:relative;
    /* top : 4180px;*/
    left: 100px; 
  }
  .Image11 {
    position:relative;
    /* top : 4350px;*/
    left: 100px; 
  }
