<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/login">Logout</a>
    </div>
  </div>

  <h1>&nbsp;<b><u>Introduction</u></b></h1>
  <p>&nbsp;C++ is a general-purpose programming language that was developed as an enhancement of the C language to include object-oriented paradigm. It is an imperative and a compiled language.CPP is a cross-platform language that can be used to create high-performance applications.C++ was developed by Bjarne Stroustrup, as an extension to the C language,it gives programmers a high level of control over system resources and memoryC++ programming is "relative" (called a superset) of C, it means any valid C program is also a valid C++ program.</p>
  <img  class="Image1" src="\assets\images\cppexe.png" style = "width:700px"/>
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  
 
  <h1>&nbsp;<b><u>History</u></b></h1>
  <p>&nbsp;C++ programming language was developed in 1980 by Bjarne Stroustrup at bell laboratories of AT&T (American Telephone & Telegraph), located in U.S.A.
Bjarne Stroustrup is known as the founder of C++ language.It was develop for adding a feature of OOP (Object Oriented Programming) in C without significantly changing the C component.The emphasis is on the ideas, constraints, and people that shaped the language, rather than the minuitiae of language features. Key design decisions relating to language features are discussed, but the focus is on the overall design goals and practical constraints. The evolution of C++ is traced from C with Classes to the current ANSI and ISO standards work and the explosion of use, interest, commercial activity, compilers, tools, environments, and libraries.</p>
  <img  class="Image2" src="\assets\images\cpp_founder.jpg" style = "width:180px"/>
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br> -->

  <h2>&nbsp;<b><u>Syntax and Structure of C++ program</u></b></h2>
  
    <ul>
        <li>Header files are included at the beginning just like in C program here iostream is a header file which provides us with input & output streams. Header files contained predeclared function libraries, which can be used by users for their ease.</li>
        <li>Using namespace std, tells the compiler to use standard namespace and collects identifiers used for class,object and variables and can be used by two ways in a program, either by the use of using statement at the beginning, like we did in above mentioned program or by using name of namespace as prefix (like # using namespace ) or std::cin</li>
    </ul>
    <h2>&nbsp;<b><u>C++ Basic input and output</u></b></h2>
    <p>cin object to take input from the user, and the cout object to display output to the user.</p> -->
     <img  class="Image7" src="\assets\images\cpp_ip_op.JPG"style = "width:600px"/>

    <h2>&nbsp;<b><u>Basic Built in Datatypes in C++</u></b></h2>
    <img  class="Image3" src="\assets\images\cpp_datatype.png" style = "width:500px"/>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <ul>
        <li>
            char :for character storage (1 byte)</li>
        <li>int	:for integral number (2 bytes)</li>
        <li>float :single precision floating point (4 bytes)</li>
        <li>double :double precision floating point numbers (8 bytes)</li>
    </ul>

    <h2>&nbsp;<b><u>Basic types of Variables</u></b></h2>
    <ul>
      <li>
        bool : variable to store boolean values( True or False )</li>
      <li>char : variables to store character types.</li>
      <li>int	: variable with integral values.</li>
      <li>float and double are also types for variables with large and floating point values.

      </li>
    </ul>
    <h3>&nbsp;<b><u>Scope of Variables</u></b></h3>
    <p>&nbsp;we can broadly divide variables into two main types:</p>
      <ol>
        <li>Global Variables</li>
        <li>Local variables</li>
      </ol>
    <!-- <ol>
      <li>Global Variables</li>
    </ol> -->
    <p>&nbsp;1.Global Variables:<br>  Global variables are those, which ar once declared and can be used throughout the lifetime of the program by any class or any function. They must be declared outside the main() function. If only declared, they can be assigned different values at different time in program lifetime. But even if they are declared and initialized at the same time outside the main() function, then also they can be assigned any value at any point in the program.
          For example: Only declared, not initialized
    </p>
    
    <p>&nbsp;2.Local Variables:<br>  Local variables are the variables which exist only between the curly braces, in which its declared. Outside that they are unavailable and leads to compile time error.
      
    </p>
    <h2>&nbsp;<b><u>Constants</u></b></h2>
    <img  class="Image4" src="\assets\images\cpp_constants.jpg" style = "width:500px"/>

    <h2>&nbsp;<b><u>Tokens</u></b></h2>
    <img  class="Image5" src="\assets\images\cpp_tokens.png" style = "width:500px"/>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <h2>&nbsp;<b><u>Operators in C++</u></b></h2>
    <!-- <p>&nbsp;Types of operators
      1.Assignment Operator
      2.Mathematical Operators
      3.Relational Operators
      4.Logical Operators
      5.Bitwise Operators
      6.Shift Operators
      7.Unary Operators
      8.Ternary Operator
      9.Comma Operator</p> -->
      <p>Types of operators</p>
      <ol>
        <li>Assignment Operator</li>
        <li>Arithemetic Operators</li>
        <li>Relational Operators</li>
        <li>Logical Operators</li>
        <li>Bitwise Operators</li>
        <li>Shift Operators</li>
        <li>Unary Operators</li>
        <li>Ternary Operator</li>
        <li>Comma Operator</li>

      </ol>
      <img  class="Image6" src="\assets\images\cpp_operators1.JPG"style = "width:600px"/>
