<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/mainpage">Logout</a>
    </div>
  </div>
  
  <div class="parent">
    <img  class="image1" src="assets\images\wp2.jpg"/>
    <div class = "container">

    
    <a routerLink ="/python"><img class="image2" src="assets\images\pypic.jpg" style="width:250px"/></a>
    <!-- <div class="python-pos">Python</div> -->
    </div>
    <div class = "container">
    <a routerLink ="/cpp"><img class = "image3" src="assets\images\cpppic.jpg" style="width:250px"/></a>
    <!-- <div class="cpp-pos">C++</div> -->
    </div>
    <div class = "container">
      <a routerLink ="/c"><img class = "image4" src="assets\images\cpic.jpg" style="width:250px"/></a>
      <!-- <div class="c-pos">C</div> -->
      </div>
    </div>
