<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/login">Logout</a>
    </div>
  </div>
<h1><b>C++ Classes</b></h1>
<h3>OOP stands for Object-Oriented Programming</h3>
<p>Object-oriented programming has several advantages over procedural programming:</p>
<ul>
    <li>OOP is faster and easier to execute</li>
    <li>OOP provides a clear structure for the programs</li>
    <li>OOP helps to keep the C++ code DRY "Don't Repeat Yourself", and makes the code easier to maintain, modify and debug</li>
    <li>OOP makes it possible to create full reusable applications with less code and shorter development time</li>
</ul>
<h2><b>Create a Class</b></h2>
<p>To create a class, use the class keyword:</p>
<img  class="class" src="\assets\images\class.png" style = "width:300px"/>
<!-- <br><br><br> -->
<h2><b>Create an Object</b></h2>
<p>In C++, an object is created from a class. We have already created the class named MyClass, so now we can use this to create objects.</p>
<p>To create an object of MyClass, specify the class name, followed by the object name.</p>
<p>To access the class attributes (myNum and myString), use the dot syntax (.) on the object:</p>
<img  class="object" src="\assets\images\object.png" />
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<h2><b>Class Methods</b></h2>
<p>Methods are functions that belongs to the class.</p>
<p>There are two ways to define functions that belongs to a class:</p>
<ul>
  <li>Inside class definition</li>
  <li>Outside class definition</li>
</ul>
<img  class="methods" src="\assets\images\methods.png" />
<!-- <br><br><br><br><br><br><br><br><br><br><br><br> -->
<p>In the following example, we define a function inside the class, and we name it "myMethod".</p>
<p>To define a function outside the class definition, you have to declare it inside the class and then define it outside of the class.</p>
<p>This is done by specifiying the name of the class, followed the scope resolution :: operator, followed by the name of the function:</p>
<h2><b>Constructors</b></h2>
<p>A constructor in C++ is a special method that is automatically called when an object of a class is created.</p>
<p>To create a constructor, use the same name as the class, followed by parentheses ():</p>
<img  class="constructor" src="\assets\images\constructor.png" />
<!-- <br><br><br><br><br><br><br><br><br><br> -->
<h2><b>Constructor Parameters</b></h2>
<p>Constructors can also take parameters (just like regular functions), which can be useful for setting initial values for attributes.</p>
<p>The following class have brand, model and year attributes, and a constructor with different parameters.</p>
<p>Inside the constructor we set the attributes equal to the constructor parameters (brand=x, etc).</p>
<p>When we call the constructor (by creating an object of the class), we pass parameters to the constructor</p>
<p>which will set the value of the corresponding attributes to the same:</p>
<p>Just like functions, constructors can also be defined outside the class.</p>
<p>First, declare the constructor inside the class, and then define it outside of the class by specifying the name of the class,</p>
<p>followed by the scope resolution :: operator, followed by the name of the constructor (which is the same as the class):</p>
<h2><b>Encapsulation</b></h2>
<p>The meaning of Encapsulation, is to make sure that "sensitive" data is hidden from users.</p>
<p> To achieve this, you must declare class variables/attributes as private (cannot be accessed from outside the class). </p>
<p>If you want others to read or modify the value of a private member, you can provide public get and set methods.</p>
<h2><b>Access Private Members</b></h2>
<p>To access a private attribute, use public "get" and "set" methods:</p>
<img  class="encap" src="\assets\images\encap.png" />
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<h2><b>Why Encapsulation?</b></h2>
<ul>
  <li>It is considered good practice to declare your class attributes as private (as often as you can). Encapsulation ensures better control of your data, because you (or others) can change one part of the code without affecting other parts</li>
  <li>Increased security of data</li>
</ul>
<h2><b>Inheritance</b></h2>
<p>In C++, it is possible to inherit attributes and methods from one class to another. We group the "inheritance concept" into two categories:</p>
<ul>
  <li>derived class (child) - the class that inherits from another class</li>
  <li>base class (parent) - the class being inherited from</li>
</ul>
<p>To inherit from a class, use the : symbol.</p>
<img  class="inheritance" src="\assets\images\inheritance.png" />
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<h2><b>Multilevel Inheritance</b></h2>
<p>A class can also be derived from one class, which is already derived from another class.</p>
<img  class="multilevelinher" src="\assets\images\multilevelinher.png" />
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<h2><b>Multiple Inheritance</b></h2>
<p>A class can also be derived from more than one base class, using a comma-separated list:</p>
<img  class="multiinher" src="\assets\images\multiinher.png" />
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<h2><b>Inheritance Access</b></h2>
<p>You learned from the Access Specifiers chapter that there are three specifiers available in C++. </p>
<p>Until now, we have only used public (members of a class are accessible from outside the class) and private (members can only be accessed within the class).</p>
<p>The third specifier, protected, is similar to private, but it can also be accessed in the inherited class:</p>
<img  class="access" src="\assets\images\access.png" />
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<h2><b>Polymorphism</b></h2>
<p>Polymorphism means "many forms", and it occurs when we have many classes that are related to each other by inheritance.</p>
<p>Like we specified in the previous chapter; Inheritance lets us inherit attributes and methods from another class.</p>
<p>Polymorphism uses those methods to perform different tasks. This allows us to perform a single action in different ways.</p>
<img  class="poly1" src="\assets\images\poly1.png" />
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<h2><b>Files</b></h2>
<p>The fstream library allows us to work with files.</p>
<img  class="files" src="\assets\images\files.png" />
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<p>There are three classes included in the fstream library, which are used to create, write or read files:</p>
<img  class="filetable" src="\assets\images\filetable.png" />
<!-- <br><br><br><br><br><br><br> -->
<h2><b>Create and Write To a File</b></h2>
<p>To create a file, use either the ofstream or fstream class, and specify the name of the file.</p>
<p>To write to the file, use the insertion operator (<<).</p>
<h2><b>Read a File</b></h2>
<p>To read from a file, use either the ifstream or fstream class, and the name of the file.</p>
<p>Note that we also use a while loop together with the getline() function (which belongs to the ifstream class) to read the file line by line, and to print the content of the file:</p>
<img  class="readwrite" src="\assets\images\read&write.png" />
