<div class="navbar">
    <a routerLink="/homepage">Dashboard</a>
    <div class="dropdown">
      <button class="dropbtn">Courses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/programLang'>Programming</a>
      <a routerLink="/interview">Interview preparation</a>
      <a routerLink="/mcq">Aptitude</a>
      </div>
    </div> 
    <div class="logout">
      <a routerLink="/mainpage">Logout</a>
    </div>
  </div>
  <h2>&nbsp;<u>If..Else</u></h2>
  <img class = "i1" src="\assets\images\If-elif-else-flowchart.jpg" style = "width:500px">
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  <h2>If-Else Statements</h2>
  <img class = "i2" src="\assets\images\ifelse.jpg" style = "width:500px">
  <!-- <br><br><br><br><br> -->
  <h2>Elif Statements</h2>
  <img class = "i3" src="\assets\images\elif.jpg" style = "width:600px">
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  <h2>Break Statement</h2>
  <p>The break statement is used to terminate the loop or statement in which it is present. After that, the control will pass to the statements that are present after the break statement, if available. If the break statement is present in the nested loop, then it terminates only those loops which contains break statement.<br>

    Syntax:<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>break</b></p>
  <h2>Continue Statement</h2>
  <p>It is also a loop control statement just like break statement.Continue statement is opposite to that of the break statement,instead of terminating the loop, it forces to execute the next iteration of the loop.
    <br>Syntax:<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>continue</b></p>
  <h2>Pass Statement</h2>
  <p>The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute. It is like null operation, as nothing will happen is it is executed. Pass statement can also be used for writing empty loops. Pass is also used for empty control statement, function and classes.
    <br>Syntax:<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>pass</b></p>
  <h2>Loops in Python</h2>
  <img class = "i4" src="\assets\images\loopspy.png" style = "width:600px">
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  <h2>Functions</h2>
  <p>Python Functions is a block of related statements designed to perform a computational, logical, or evaluative task. The idea is to put some commonly or repeatedly done tasks together and make a function so that instead of writing the same code again and again for different inputs, we can do the function calls to reuse code contained in it over and over again. 

    Functions can be both built-in or user-defined. It helps the program to be concise, non-repetitive, and organized.
  <br><b>Syntax:</b></p>
  <img class = "i5" src="\assets\images\funsyn.jpg" style = "width:700px">
  <!-- <br><br><br><br><br><br> -->
  <h2><b>Calling the Function</b></h2>
  <img class = "i6" src="\assets\images\funcallpy.jpg" style = "width:700px">
  <!-- <br><br><br><br><br><br><br> -->
  <h2>Function Example</h2>
  <img class = "i7" src="\assets\images\funexpy.jpg" style = "width:700px">
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  <h2>Python Inbuilt Functions</h2>
  <ul>
    <li>abs()-Returns the absolute value of a number</li>
    <li>all()-Returns True if all items in an iterable object are true</li>
    <li>any()-Returns True if any item in an iterable object is true</li>
    <li>ascii()-Returns a readable version of an object. Replaces none-ascii characters with escape character</li>
    <li>bin()-Returns the binary version of a number</li>
    <li>bool()-Returns the boolean value of the specified object
    </li>
    <li>bytearray()-Returns an array of bytes</li>
    <li>bytes()-Returns a bytes object</li>
    <li>callable()-Returns True if the specified object is callable, otherwise False
    </li>
    <li>chr()-Returns a character from the specified Unicode code.
    </li>
    <li>classmethod()-Converts a method into a class method
    </li>
    <li>compile()-Returns the specified source as an object, ready to be executed</li>
    <li>complex()-Returns a complex number</li>
    <li>delattr()-Deletes the specified attribute (property or method) from the specified object
    </li>
    <li>dict()-Returns a dictionary (Array)
    </li>
    <li>dir()-Returns a list of the specified object's properties and methods</li>
    <li>divmod()-Returns the quotient and the remainder when argument1 is divided by argument2
    </li>
    <li>
      enumerate()-Takes a collection (e.g. a tuple) and returns it as an enumerate object
    </li>
    <li>eval()-Evaluates and executes an expression
    </li>
    <li>exec()-Executes the specified code (or object)
    </li>
    <li>filter()-Use a filter function to exclude items in an iterable object
    </li>
    <li>float()-Returns a floating point number
    </li>
    <li>format()-Formats a specified value
    </li>
    <li>frozenset()-Returns a frozenset object
    </li>
    <li>getattr()-Returns the value of the specified attribute (property or method)
    </li>
    <li>globals()-Returns the current global symbol table as a dictionary
    </li>
    <li>hasattr()-Returns True if the specified object has the specified attribute (property/method)
    </li>
    <li>hash()-Returns the hash value of a specified object
    </li>
    <li>help()-Executes the built-in help system
    </li>
    <li>hex()-Converts a number into a hexadecimal value
    </li>
    <li>id()-Returns the id of an object
    </li>
    <li>input()-Allowing user input
    </li>
    <li>int()-Returns an integer number
    </li>
    <li>isinstance()-Returns True if a specified object is an instance of a specified object
    </li>
    <li>issubclass()-Returns True if a specified class is a subclass of a specified object
    </li>
    <li>zip()-Returns an iterator, from two or more iterators
    </li>
    <li>vars()-Returns the __dict__ property of an object and <b>many more...</b>
    </li>
  </ul>
